**/obj
**/ffmpeg.exe
**/.vs/
**/.idea/
**/.history/
**/.vscode/
**/proxy.conf
**/Automation/
**/Basics/
**/Design/
**/Effects/
**/Illustration/
**/Layers/
**/Painting/
**/Photography/
**/Popular/
**/Text/
**/Video/
**/*_res.cmd
**/*_ytb.cmd
